*.o
Dev/Test/
*.aux
*.bbl
*.blg
*.dvi
*.log
*.lof
*.synctex.gz
*.toc
*.out
*.kdev4
bin/
Image/
QT_TP/
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.idg
*.ind
*.ist
*.lot
*.xdy
*.ilg
*.nav
*.snm
Dev/Doc/
Dev/build-InterfaceQt-Desktop-Debug/
COLOR_BILATERAL_FILTER/
Rapport/
Image/
presentation/
Rendu/
Gantt/
InterfaceDesign/
fichiersPFE/
rapport_et_specif(Latex)/
*.png
*.jpg
*.tif
*.ppm
